<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiecang.project.dao.ExtraMapper">


    <select id="getExtra" resultType="map">
        select e.*,u.user_name from extra e left join projects p on e.project_ID = p.project_ID left join user u on e.extra_person = u.user_ID where e.project_ID = #{id} and u.user_cancel=1
        <if test="username!='admin' and username!='' and username!=null and id!='undefined'">
            and (e.extra_person = #{username} or p.project_director = #{username} or p.project_supplier = #{username})
        </if>
    </select>

    <insert id="insertExtra" parameterType="map">
        insert into extra(project_ID,extra_ID,extra_name,extra_person,extra_time,extra_add)
        values(#{project_ID},#{id},#{extraName},#{groupLeader},#{duringTime},#{addPerson})
    </insert>


    <select id="getNum" resultType="String">
         select extra_ID from extra order by extra_ID desc limit 1
    </select>

    <select id="getCount" resultType="int">
        select count(*) from extra
    </select>


    <delete id="deleteExtra" parameterType="map">
        delete from extra where extra_ID in
        <foreach collection="list" item="li" open="("
                 separator="," close=")">
            #{li.ID}
        </foreach>
    </delete>

    <update id="updateExtra">
        update extra set extra_name = #{name},extra_person = #{person},
        extra_time = #{time} where extra_ID = #{id}
    </update>

    <update id="successExtra" parameterType="map">
        update extra set extra_success = abs(extra_success-1) where extra_ID = #{ID}
    </update>

    <update id="changeExtraTime">
        update extra set extra_time=#{time},extra_tab=#{select} where extra_ID = #{extra_id}
    </update>


    <select id="getExtraHtml" resultType="map">
        select ex.*,u.user_name from extra ex left join user u on ex.extra_person = u.user_ID where project_ID = #{id} and u.user_cancel=1
    </select>


    <select id="getThing" resultType="map">
        select d.departmentName,e.extra_time,e.extra_person,e.extra_name from project_user pu
        left join department d on pu.departmentID = d.departmentID
        left join extra e on pu.project_ID = e.project_ID
        where e.extra_ID = #{id}
    </select>
</mapper>