<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiecang.project.dao.ProjectMapper">


    <select id="getProjectList" resultType="map">
        select distinct p.* from projects p left join project_user pu on p.project_ID = pu.project_ID where
        <if test="username!='admin'">
            p.project_director=#{username} or p.project_supplier=#{username} or p.project_person=#{username} or p.project_demand=#{username} or pu.user_ID=#{username} and
        </if>
        p.project_state = 0
    </select>

    <select id="getFinish" resultType="map">
        select * from projects where project_state = 1
    </select>

    <select id="getProjectOne" resultType="map">
        select p.*,u.user_name,u.user_cancel,b.event_id,b.event_name,b.event_startTime,b.event_endTime,b.event_state,b.event_success,b.event_tab,b.event_progress from projects p
        left join event b on p.project_ID = b.project_ID
        left join user u on b.event_groupLeader = u.user_ID
        where p.project_ID=#{id}
        order by b.event_startTime asc
    </select>


    <select id="getNum" resultType="int">
         select project_ID from projects order by project_ID desc limit 1
    </select>

    <select id="getCount" resultType="int">
        select count(*) from projects
    </select>


    <insert id="insertProject" parameterType="map">
        insert into projects(
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                project_ID,
            </if>
            <if test="projectName!=null and projectName!=''">
                project_name,
            </if>
            <if test="projectDirector!=null and projectDirector!=''">
                project_director,
            </if>
            <if test="time!=null and time!=''">
                project_time,
            </if>
            <if test="projectSupplier!=null and projectSupplier!=''">
                project_supplier,
            </if>
            <if test="supplierPhone!=null and supplierPhone!=''">
                supplier_phone,
            </if>
            <if test="projectDemand!=null and projectDemand!=''">
                project_demand,
            </if>
            <if test="demandPhone!=null and demandPhone!=''">
                demand_phone,
            </if>
            <if test="remark!=null and remark!=''">
                project_detail,
            </if>
            <if test="supplier!=null and supplier!=''">
                supplier_data,
            </if>
            <if test="demand!=null and demand!=''">
                demand_data,
            </if>
        </trim>)
        values(
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="projectName!=null and projectName!=''">
                #{projectName},
            </if>
            <if test="projectDirector!=null and projectDirector!=''">
                #{projectDirector},
            </if>
            <if test="time!=null and time!=''">
                #{time},
            </if>
            <if test="projectSupplier!=null and projectSupplier!=''">
                #{projectSupplier},
            </if>
            <if test="supplierPhone!=null and supplierPhone!=''">
                #{supplierPhone},
            </if>
            <if test="projectDemand!=null and projectDemand!=''">
                #{projectDemand},
            </if>
            <if test="demandPhone!=null and demandPhone!=''">
                #{demandPhone},
            </if>
            <if test="remark!=null and remark!=''">
                #{remark},
            </if>
            <if test="supplier!=null and supplier!=''">
                #{supplier},
            </if>
            <if test="demand!=null and demand!=''">
                #{demand},
            </if>
        </trim>
        )
    </insert>


    <insert id="insertMsg" parameterType="map">
            insert into brand(
            <trim suffixOverrides=",">
                <if test="title!=null and title!=''">
                    brand_task,
                </if>
                <if test="event_person!=null and event_person!=''">
                    brand_person,
                </if>
                <if test="startDate!=null and startDate!=''">
                    brand_startTime,
                </if>
                <if test="project_id!=null and project_id!=''">
                    project_ID,
                </if>
                <if test="state!=null and state!=''">
                    brand_state,
                </if>
                <if test="event_remark!=null and event_remark!=''">
                    brand_remark,
                </if>
            </trim>
            )
            values(
        <trim suffixOverrides=",">
            <if test="title!=null and title!=''">
                #{title},
            </if>
            <if test="event_person!=null and event_person!=''">
                #{event_person},
            </if>
            <if test="startDate!=null and startDate!=''">
                #{startDate},
            </if>
            <if test="project_id!=null and project_id!=''">
                #{project_id},
            </if>
            <if test="state!=null and state!=''">
                #{state},
            </if>
            <if test="event_remark!=null and event_remark!=''">
                #{event_remark},
            </if>
        </trim>
        )
    </insert>


    <select id="getAllProject" resultType="map">
        select distinct p.*,u.user_name from projects p
        left join project_user pu on p.project_ID = pu.project_ID
        left join user u on p.project_director = u.user_ID
        <if test="username!='admin'">
          where p.project_director=#{username} or p.project_supplier=#{username} or p.project_person=#{username} or p.project_demand=#{username} or pu.user_ID=#{username}
        </if>
    </select>


    <delete id="deleteProject" parameterType="map">
        delete p.*,e.*,ex.*,pu.* from projects p left join event e on p.project_ID = e.project_ID
         left join extra ex on p.project_ID = ex.project_ID
         left join project_user pu on p.project_ID = pu.project_ID where p.project_ID in
        <foreach collection="list" item="li" open="("
                 separator="," close=")">
            #{li.ID}
        </foreach>
    </delete>

    <update id="updateProject">
        update projects set
        <trim suffixOverrides=",">
        <if test="project_name!=null and project_name!=''">
            project_name = #{project_name},
        </if>
        <if test="project_director!=null and project_director!=''">
            project_director = #{project_director},
        </if>
        <if test="project_time!=null and project_time!=''">
            project_time = #{project_time},
        </if>
        <if test="project_supplier!=null and project_supplier!=''">
            project_supplier = #{project_supplier},
        </if>
        <if test="supplier_phone!=null and supplier_phone!=''">
            supplier_phone = #{supplier_phone},
        </if>
        <if test="project_demand!=null and project_demand!=''">
            project_demand = #{project_demand},
        </if>
        <if test="demand_phone!=null and demand_phone!=''">
            demand_phone = #{demand_phone},
        </if>
        <if test="project_detail!=null and project_detail!=''">
            project_detail = #{project_detail},
        </if>
        <if test="data1!=null and data1!=''">
            supplier_data = #{data1},
        </if>
        <if test="data2!=null and data2!=''">
            demand_data =#{data2},
        </if>
        </trim>
         where project_ID = #{id}
    </update>

    <select id="boolEvent" resultType="int">
        select count(*) from event where event_success='1' and project_ID = #{ID}
    </select>

    <update id="successProject">
        update projects set project_state=abs(project_state-1) where project_ID = #{ID}
    </update>

    <select id="getAccount" resultType="map">
        select u.user_name,r.name from user u left join user_role ur on u.user_ID = ur.user_ID left join role r on ur.role_ID = r.id  where u.user_ID=#{name}
    </select>

    <select id="getExcelList" resultType="map">
        select d.departmentName,u.user_name,u.user_ID,e.event_id,
        e.event_name,e.event_startTime,e.event_endTime,e.event_description,e.event_state,e.event_tab,e.event_success
        from project_user pu
        left join department d on pu.departmentID = d.departmentID
        left join user u on pu.user_ID = u.user_ID
        left join projects p on pu.project_ID = p.project_ID
        left join event e on pu.project_ID = e.project_ID and u.user_ID = e.event_groupLeader
        where pu.project_ID = #{id} and u.user_cancel=1
    </select>

    <select id="getExtraList" resultType="map">
        select u.user_ID,ex.extra_ID,ex.extra_name,ex.extra_time,ex.extra_tab,ex.extra_success
        from project_user pu
        left join user u on pu.user_ID= u.user_ID
        left join extra ex on pu.project_ID = ex.project_ID and u.user_ID = ex.extra_person
        where pu.project_ID = #{id} and u.user_cancel=1
    </select>

    <select id="getProjectMsg" resultType="map">
        select * from projects where project_ID = #{id}
    </select>


    <select id="getEventCount" resultType="int">
        select count(event_id) from event where project_ID = #{id}
    </select>

    <select id="getExtraCount" resultType="int">
        select count(extra_ID) from extra where project_ID = #{id}
    </select>

    <select id="getProjectDirector" resultType="String">
        select user_name from user where user_ID = #{projectDirector}
    </select>

    <select id="getSupplier" resultType="String">
        select user_name from user where user_ID = #{supplier}
    </select>

    <select id="getDemand" resultType="String">
        select user_name from user where user_ID = #{demand}
    </select>

</mapper>