<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiecang.project.dao.UserMapper">


    <select id="getUserList" resultType="map">
        select u.*,r.name from user u left join user_role ur on u.user_ID = ur.user_ID left join role r on ur.role_ID = r.id where u.user_cancel=1
    </select>

    <select id="findUserName" resultType="map">
        select u.user_account,u.user_password,r.name from user u left join user_role ur on u.user_ID = ur.user_ID left join role r on ur.role_ID = r.id where u.user_account = #{username}
    </select>


    <select id="getFileList" resultType="map">
        select supplier_data,demand_data from projects where project_ID = #{id}
    </select>

    <select id="getUserPassword" resultType="String">
        select user_password from user where user_account = #{user}
    </select>

    <update id="changePassword">
        update user set user_password = #{pass2} where user_account = #{user}
    </update>

    <select id="getUser" resultType="map">
        select pu.*,d.departmentName,u.user_name from project_user pu left join user u on pu.user_account = u.user_account left join department d on pu.departmentID = d.departmentID where pu.project_ID = #{id}
    </select>

    <delete id="deleteUser" parameterType="map">
        delete from project_user where (user_account,project_ID) in
        <foreach collection="list" item="li" open="("
                 separator="," close=")">
            (#{li.ID},#{li.project})
        </foreach>
    </delete>

    <select id="getDepartmentData" resultType="map">
        select * from department
    </select>

    <select id="getDepartmentUser" resultType="map">
        select * from user where departmentID = #{department}
    </select>

    <insert id="insertUser">
        insert into project_user(project_ID,user_account,departmentID) values(#{id},#{user},#{department})
    </insert>

    <select id="boolUser" resultType="int">
        select count(*) from project_user where project_ID = #{id} and user_account = #{user} and departmentID = #{department}
    </select>
    
    
    <select id="getProjectUser" resultType="map">
        select p.user_account,u.user_ID from project_user p left join user u on p.user_account = u.user_account where p.project_ID = #{id}
    </select>

</mapper>